<p>
  <label><%=l :title_shift_schedule_settings %></label>
  <input type="number" id="budget_buffer" min = "0" max="100" value="<%= settings['buffer'] %>" name="settings[buffer]">
  <em class="info">in Prozent</em>
</p>
